.img{
  display: block;
  max-width: 32px;
  max-height: 32px;
}

.term{
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
}

.tittle {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: center;  
}

.input{
  border: none !important;
  border-bottom: 2px solid #7452FF !important;
  border-radius: 0px !important;
  width: 50% !important;
}